<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>yampp-online</display-name>
  <servlet>
    <servlet-name>Index</servlet-name>
    <servlet-class>fr.lirmm.yamplusplus.yampponline.Index</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- Mapping /rest/matcher to the Matcher.java class. For the RESTful service. We don't need to use 
  Jersey  or Spring at the moment, since it is just for a matcher service -->
  <servlet>
    <servlet-name>REST Matcher</servlet-name>
    <servlet-class>fr.lirmm.yamplusplus.yampponline.Matcher</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>REST Matcher</servlet-name>
    <url-pattern>/rest/matcher</url-pattern>
  </servlet-mapping>
  <!-- Mapping /matcher to matcher.jsp file -->
  <servlet>
    <servlet-name>Matcher</servlet-name>
    <jsp-file>/WEB-INF/matcher.jsp</jsp-file>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Matcher</servlet-name>
    <url-pattern>/matcher</url-pattern>
  </servlet-mapping>
  <!-- Mapping /result to MatcherInterface.java class to get Yam++ matcher results -->
  <servlet>
    <servlet-name>Matcher Interface</servlet-name>
    <servlet-class>fr.lirmm.yamplusplus.yampponline.MatcherInterface</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Matcher Interface</servlet-name>
    <url-pattern>/matcherinterface</url-pattern>
  </servlet-mapping>
  <!-- Mapping /validator to Validator.java class for the validator webpage-->
  <servlet>
    <servlet-name>Validator</servlet-name>
    <servlet-class>fr.lirmm.yamplusplus.yampponline.Validator</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validator</servlet-name>
    <url-pattern>/validator</url-pattern>
  </servlet-mapping>
  <!-- Mapping /download to Download.java class. When called it forces align file ddl, so the webpage is never really opened -->
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>fr.lirmm.yamplusplus.yampponline.Download</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <!-- Mapping /aboutus and /documentation to their respective jsp files -->
  <servlet>
    <servlet-name>Aboutus</servlet-name>
    <jsp-file>/WEB-INF/aboutus.jsp</jsp-file>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aboutus</servlet-name>
    <url-pattern>/aboutus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Documentation</servlet-name>
    <jsp-file>/WEB-INF/documentation.jsp</jsp-file>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Documentation</servlet-name>
    <url-pattern>/documentation</url-pattern>
  </servlet-mapping>
  <!-- Servlet mappings for user management -->
  <servlet>
    <servlet-name>Signin</servlet-name>
    <servlet-class>fr.lirmm.yamplusplus.yampponline.Signin</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signin</servlet-name>
    <url-pattern>/sign</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Signup</servlet-name>
    <servlet-class>fr.lirmm.yamplusplus.yampponline.Signup</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>fr.lirmm.yamplusplus.yampponline.ChangePassword</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/changePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserEdition</servlet-name>
    <servlet-class>fr.lirmm.yamplusplus.yampponline.UserEdition</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEdition</servlet-name>
    <url-pattern>/userEdition</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminControl</servlet-name>
    <servlet-class>fr.lirmm.yamplusplus.yampponline.AdminControl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminControl</servlet-name>
    <url-pattern>/adminControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Disconnect</servlet-name>
    <servlet-class>fr.lirmm.yamplusplus.yampponline.Disconnect</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Disconnect</servlet-name>
    <url-pattern>/disconnect</url-pattern>
  </servlet-mapping>
</web-app>
